{% extends "base.html" %}

{% block main %}

<div class="header">
	<h1> Contact Form</h1>
</div>

<div class="warning text-center">
	<h1>{{warning}}</h1>
</div>

		<form class="form-group" action="{{url_for('contact')}}" method="post">	
			{{form.csrf_token}}
        <p>
          {{ form.name.label }} [Required]
	     
		</p>
		<p> Please enter your full name</p>
		<p>
          {{ form.name }}
        </p>
        <p>
          {{ form.email.label }} [Required]
		</p>
		<p> Please enter your email address</p>
		<p>
          {{ form.email }}	
        </p>
		<p>
			{{form.subject.label}} [Required]
		</p>
		<p> Please enter the subject of your message</p>
		<p>
			{{form.subject}}
		</p>
        <p>
          {{ form.body.label }} [Required]
		</p>
		Please enter the meassage you would like to sends
		<p>
          {{ form.body }}
        </p>
        <button class="btn btn-primary">Send</button>
      </form>
{% endblock %}